.footer-abt-des p {
  margin-top: 10px;
  font-family: "Celias";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  /* or 157% */
  padding-top: 10px;
  border-top: 1px solid #fff;
  color: #ffffff;
}
.footer-abt-des{
    width: 80%;
}
.social {
  display: flex;
  justify-content: start;
  align-items: center;
}
.social-icon img {
  width: 29px;
}
.footer-root {
  background-color: #e9f1f7;
}
.ul-heading {
  font-family: "celias";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.footer-wrapper ul{
    padding: 0px;
}
.footer-wrapper ul li {
  cursor: pointer;
  font-family: "celias";
  font-style: normal;
  font-weight: 500;
  padding: 0px;
  list-style: none;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}
.bottom-footer{
padding: 4px 0px;
background: #40BF52;
font-family: 'celias';
font-style: normal;
font-weight: 600;
font-size: 8px;
text-align: center;
line-height: 20px;
color: #FFFFFF;
}